  <%- include("partials/header") -%> 

  <div class="container mt-5">
    <h1 class="display-5 fw-bold text-center">Contact Me</h1>
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="card box-shadow">
          <div class="card-body">
            <h3 class="card-title">Get in Touch</h3>
            <p class="card-text">Feel free to reach out to me via email or connect with me on LinkedIn and GitHub.</p>

            <div class="contact-info">
              <p><strong>Email:</strong>shawnc6 at cs.uw.edu</p>
              <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/s-collinge" target="_blank">https://www.linkedin.com/in/s-collinge</a></p>
              <p><strong>GitHub:</strong> <a href="https://github.com/ShawnCollinge" target="_blank">https://github.com/ShawnCollinge</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") -%> 
