<%- include("partials/header") -%>
<div class="p-5 mb-4 rounded-3 bg-light">
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Pull match info</h1>
    </div>
    <form action="/practiscore" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" id="url">Match code</span>
        <input type="text" class="form-control" name="url" placeholder="Example: 01e65294-8692-4adf-9897-29dc01a68360">
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text" id="firstName">First Name</span>
        <input type="text" class="form-control" name="firstName">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="lastName">Last Name</span>
        <input type="text" class="form-control" name="lastName">
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="displayMode" id="Marcel" value="true" checked>
        <label class="form-check-label" for="inlineRadio1">Marcel's display</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="displayMode" id="Donnie" value="false">
        <label class="form-check-label" for="inlineRadio2">Donnie's display</label>
      </div>
      <br>
      <br>
      <input onClick="this.form.submit(); this.disabled=true; this.value='Sending…'; " value="Submit" class="btn btn-primary"></input>
    </form>
  
  
  </main>
  
  </div>
  </div>
</div>
  <%- include("partials/footer") -%>