<%- include("partials/header") -%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <% results.forEach(function (item) { %>
            <%=item + "\n" %>
                <% }); %>

    </main>

    </div>
    </div>
    <%- include("partials/footer") -%>